<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./Partials/head') %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./Partials/nav') %>
<%= JSON.stringify(user) %>

    <%- include('./Partials/scripts') %>
  </body>
</html>
